.button {
	width: 80px;
	height: 50px;
	font-size: 25px;
}

#view {
	width: 320px;
	font-size: 30px;
	border: 1px solid black;
	margin-left: 3px;
	padding: 5px;
}

#title {
	background-color: brown;
	margin: 25px;
	padding: 25px;
	border: solid green 25px;
	color: red;
	text-align: center;
}

#screen {
	height: 80px;
	width: 1290px;
	font-size: 50px;
	margin: 25px;
	padding: 25px;
	border: solid black 10px;
}

.number {
	font-size: 50px;
	margin: 25px;
	padding: 25px;
	border: 10px solid  black;
	text-align: center;
	width: 200px;
	position: relative;
}

#digits {
	display: grid;
    grid-template-columns: repeat(4);
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;*/
		grid-template-areas: 
        "n n n e"
        "n n n e"
        "n n n e"
        "  n   s";
    grid-area: n;
    grid-area: e;
    grid-area: s;
	background-color: purple;
	margin: 25px;
	padding: 25px;
	border: 5px solid black;
	text-align: center;
}

#num {
}