.button {
	width: 80px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
}

#zero {
	width: 168px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
}

#equal {
	width: 80px;
	height: 108px;
	font-size: 25px;
	margin: 2px;

}

#view {
	width: 333px;
	font-size: 30px;
	border: 1px solid black;
	margin-left: 5px;
	margin-bottom: 2px;
	padding: 5px;
	margin-top: 5px;
}

#container{
	background-color: grey;
	width: 355px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 220px;
	}


